{% extends 'base.html.twig' %}

{% block title %}Edit {{ user.fullname }}{% endblock %}

{% block body %}

    <div class="row flex-column flex-lg-row">
        <div class="col-12 col-sm-3">
            {% include 'user/customer_card.html.twig' %}
        </div>
        <div class="col-12 col-sm-9">
            <div class="content_box">

                <h2>Modifier profil de {{ user.fullname }}</h2>

                <div class="content_box_element">
                    {% include 'admin/user/form.html.twig' %}
                </div>

            </div>
        </div>
    </div>
{% endblock %}
