<div class="go-back" title="Retour">
    <div>
        <a href="{{ url }}" class="btn btn-secondary btn-sm">
            {{ 'arrow-left'|svg }}
        </a>
    </div>
    <h2>{{ title|raw }}</h2>
</div>