.sort_item_toolbar {
  display: flex;
}
.sort_item_toolbar a{
  border-bottom: 2px solid $primary;
}
.sort_item_toolbar a:hover {
  background-color: $primary;
}
.sort_item_toolbar_top {
  position: fixed;
  top: 50px;
  background-color: #ffffff;
}
#expositionLocation .form-check {
  display: flex;
  margin: 0 8px;
}
#expositionLocation .form-check .form-check-label {
  white-space: nowrap;
  padding: 0 4px;
}
#search_item_toolbar_button {
  border-radius: 5px;
  margin: 10px 10px 5px 20px !important;
  box-shadow: rgba(0, 0, 0, 0.3) 2px 4px 3px;
}
#search_item_toolbar {
  padding: 0 10px;
  position: relative;
  margin: 10px 20px 5px 20px !important;
  color: white;
  //.form-select, .form-input-check, input, .form-control {
  //    color: rgb(232, 230, 227);
  //    background-color: rgb(25, 27, 28);
  //    border-color: rgb(60, 65, 68);
  //}
  //::-webkit-scrollbar-corner {
  //    background-color: #181a1b;
  //}
  //::-webkit-scrollbar-thumb {
  //    background-color: #454a4d;
  //}
  //::-webkit-scrollbar {
  //    background-color: #202324;
  //    color: #aba499;
  //}
}
//#search_filter_to_hide {
//    position: relative;
//}
#deploy_search_filter {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 4px 3px;
}
#search_filter_query #q {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 4px 3px;
}
#search_filter_to_hide {
  position: absolute;
  z-index: 500;
  width: 90%;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.3) 8px 4px 8px;
  background-color: #089c9c !important;
  //background-color: $secondary !important;
}
#search_filter_to_hide.fadeOut {
  display: block;
  animation: showSearch 0.8s;
}
#search_filter_to_hide.fadeIn {
  animation: hideSearch 0.8s;
}
.search_order_filter>div {
  margin-bottom: 0 !important;
}
#filter_circle_info {
  position: absolute;
  z-index: 550;
  top: 3px;
  right: 3px;
}
#filter_circle_info:hover {
  cursor: pointer;
}

#expositionLocation .form-check {
  margin: 0 !important;
}



@keyframes showSearch {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);

  }
}
@keyframes hideSearch {
  from {
    transform: translateY(0);
    display: block;
  }
  to {
    transform: translateY(-100%);
    display: none;
  }
}