<!DOCTYPE html>
<html lang="fr">
{% set route_name = app.request.attributes.get('_route') %}
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Accueil{% endblock %} | Coprotec - ELAN</title>
    <meta name="description" content="">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="">
    <meta name="author" content="BECK Quentin">
    <meta name="robots" content="index, follow">
    <meta name="theme-color" content="#ffffff">
    <meta property="og:title" content=""/>
    <meta property="og:type" content="website"/>
    <meta property="og:description" content="Coprotec | ELAN"/>
    <meta property="og:url" content=""/>
    <meta property="og:locale" content="fr_FR"/>
    <meta property="og:site_name" content=""/>
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content=""/>
    <meta name="twitter:site:id" content=""/>
    <meta name="twitter:creator" content=""/>
    <meta name="twitter:creator:id" content=""/>
    <meta name="twitter:url" content="">
    <meta name="twitter:title" content="">
    <meta name="twitter:description" content="">
    <meta property="og:image" content=""/>
    <meta name="twitter:image" content="">


    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        <!--FAVICON-->
        <link rel="icon" type="image/png" href="{{ asset('assets/img/logos/logo-elan.png') }}"/>
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        {{ encore_entry_script_tags('vue') }}
    {% endblock %}

</head>

<body>
<div id="app">
    <app></app>
</div>
</body>
</html>

{% block vue_templates '' %}

<template id="app_template">

        <div class="d-flex flex-row flex-md-column">
            <div id="toolbar" class="col-1 col-md-2 toolbar_retract">
                {% include 'base/tool/toolbar.html.twig'%}
            </div>
            <div id="page" class="offset-1 offset-md-2 col-11 col-md-10 toolbar_retract_page w-md-auto">

                <div class="d-flex">
                    <div class="col-12 col-sm-9 m-0 p-0">

                        <a href="">
                            <div id="search_item_toolbar_button" class="search form-group">
                                <div class="form-control">Rechercher</div>
                            </div>
                        </a>

                    </div>
                    <div class="d-none d-sm-block col-3 m-0 p-0">
                        {% include 'base/tool/login_tool.html.twig' %}
                    </div>
                </div>


                <div id="content" class="d-flex flex-column justify-content-between" style="min-height: 92vh">
                    <div>
                        <h1 class="text-end pe-4 text-white">Coprotec - ELAN</h1>

                        <div class="mx-3">
                            {% include "base/flash.html.twig" %}
                        </div>

                        {% block body %}


                        {% endblock %}
                    </div>

                    {% include "base/footer.html.twig" %}
                </div>
            </div>
        </div>

</template>
