{% extends 'base.html.twig' %}

{% block title %}{{ status_code }} - Page non trouvé{% endblock %}

{% block body %}
    <div class="content_box">
        <h4 class="p-1 m-0 bg_main rounded-top text-white"> {{ status_code }} - Ooops impossible d'accéder</h4>

        <div class="m-4 d-flex">
{#            <p>Les erreurs sont automatiquement envoyé par mail, sauf si vous estimez qu'il est nécessaire de préciser l'erreur, vous pouvez </p>#}
        </div>
    </div>
{% endblock %}